/* 1. Crie uma barra verde na parte superior da p치gina. */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

/* 3. Acrescente um formul치rio de login no header. */
.trybewarts-login {
  display: flex;
}

/* 5. Adicione um formul치rio no corpo da p치gina. */
main {
  display: flex;
}
#evaluation-form {
  display: flex;
  width: 675px;
}