/* 1. Crie uma barra verde na parte superior da página. */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

/* 3. Acrescente um formulário de login no header. */
.trybewarts-login {
  display: flex;
}

/* 5. Adicione um formulário no corpo da página. */
main {
  display: flex;
}
#evaluation-form {
  display: flex;
  width: 675px;
}